.Pagination {
  margin: 50px auto 50px;
}
.No_Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-weight: bold;
}
.No_Product p {
  margin: 1px;
}
