.Incoming_Messsage_Img {
  display: inline-block;
  width: 27px;
  border-radius: 50%;
  padding: 0 0 0 10px;
}
.Received_Message {
  display: inline-block;
  vertical-align: top;
  width: 92%;
  position: relative;
}
.Received_Message div {
  width: 57%;
}
.Received_Message p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.timeDate {
  color: #747474;
  display: block;
  font-size: 12px;
}
.Received_Message::after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #ebebeb transparent transparent;
  top: 0;
  left: -9px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
