.Outgoing_Message p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.Outgoing_Message {
  overflow: hidden;
  padding-right: 10px;
  margin: 6px 10px 6px;
}
.Outgoing_Message div {
  float: right;
  width: 46%;
  position: relative;
}
.Outgoing_Message div::after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #05728f;
  top: 0;
  right: -9px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeDate {
  color: #747474;
  display: block;
  font-size: 12px;
}
